<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="rse.app.desk.rx.lite.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="rse.app.desk.rx.lite.Properties.Settings.yakkumdatabaseConnectionString" connectionString="Data Source=.;Initial Catalog=yakkumdatabase;Persist Security Info=True;User ID=sa;Password=z@q12wsx" providerName="System.Data.SqlClient" />
        <add name="rse.app.desk.rx.lite.Properties.Settings.rmConnectionString" connectionString="Data Source=.;Initial Catalog=rm;Persist Security Info=True;User ID=sa;Password=z@q12wsx" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="protobuf-net" publicKeyToken="257b51d87d2e4d67" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <rse.app.desk.rx.lite.Properties.Settings>
      <setting name="strUser" serializeAs="String">
        <value />
      </setting>
      <setting name="strPass" serializeAs="String">
        <value />
      </setting>
    </rse.app.desk.rx.lite.Properties.Settings>
  </userSettings>
</configuration>