<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="rse.app.desk.rx.nurse.Properties.Settings.yakkumdatabaseConnectionString"
            connectionString="Data Source=192.168.10.14;Initial Catalog=yakkumdatabase;Persist Security Info=True;User ID=sa;Password=z@q12wsx"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>